## 1 OLS回归

### 1.1 导入数据

In [8]:
library(MatchIt)

data("lalonde")

### 1.2 变量描述

In [5]:
head(lalonde)

     treat age educ race   married nodegree re74 re75 re78
NSW1 1     37  11   black  1       1        0    0     9930.0460
NSW2 1     22   9   hispan 0       1        0    0     3595.8940
NSW3 1     30  12   black  0       0        0    0    24909.4500
NSW4 1     27  11   black  0       1        0    0     7506.1460
NSW5 1     33   8   black  0       1        0    0      289.7899
NSW6 1     22   9   black  0       1        0    0     4056.4940

<li> 1. age：年龄，以岁为单位。
<li> 2. educ：学习时间，之前一共上过多少年学。
<li> 3. black：是否为黑人。
<li> 4. hispan：是否为西班牙裔。
<li> 5. married：是否已婚。
<li> 6. nodegree：是否没有毕业文凭。
<li> 7. re74：1974年的收入。
<li> 8. re75：1975年的收入。
<li> 9. re78：1978年的收入。
<li> 10. treat：1978年前是否接受职业培训

In [6]:
summary(lalonde)

     treat             age             educ           race        married
 Min.   :0.0000   Min.   :16.00   Min.   : 0.00   black :243   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:20.00   1st Qu.: 9.00   hispan: 72   1st Qu.:0.0000
 Median :0.0000   Median :25.00   Median :11.00   white :299   Median :0.0000
 Mean   :0.3013   Mean   :27.36   Mean   :10.27                Mean   :0.4153
 3rd Qu.:1.0000   3rd Qu.:32.00   3rd Qu.:12.00                3rd Qu.:1.0000
 Max.   :1.0000   Max.   :55.00   Max.   :18.00                Max.   :1.0000
    nodegree           re74            re75              re78
 Min.   :0.0000   Min.   :    0   Min.   :    0.0   Min.   :    0.0
 1st Qu.:0.0000   1st Qu.:    0   1st Qu.:    0.0   1st Qu.:  238.3
 Median :1.0000   Median : 1042   Median :  601.5   Median : 4759.0
 Mean   :0.6303   Mean   : 4558   Mean   : 2184.9   Mean   : 6792.8
 3rd Qu.:1.0000   3rd Qu.: 7888   3rd Qu.: 3249.0   3rd Qu.:10893.6
 Max.   :1.0000   Max.   :35040   Max.   :25142.2   Max.   :60307.9

### 1.3 建立模型（R基础包）

In [10]:
model1 <- lm(re78 ~ age + educ + race + married + nodegree + re74 + re75,
             data = lalonde)
summary(model1)

Call:
lm(formula = re78 ~ age + educ + race + married + nodegree +
    re74 + re75, data = lalonde)

Residuals:
   Min     1Q Median     3Q    Max
-13302  -4923  -1761   3963  54993

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -649.35938 2447.89789  -0.265   0.7909
age           16.37029   32.52216   0.503   0.6149
educ         435.34691  158.49601   2.747   0.0062 **
racehispan  1054.20416  960.32295   1.098   0.2727
racewhite    421.77329  649.83101   0.649   0.5166
married      262.63860  693.33780   0.379   0.7050
nodegree     412.05021  845.99211   0.487   0.6264
re74           0.28687    0.05822   4.928 1.07e-06 ***
re75           0.23733    0.10483   2.264   0.0239 *
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Residual standard error: 6965 on 605 degrees of freedom
Multiple R-squared:  0.1422,	Adjusted R-squared:  0.1309
F-statistic: 12.54 on 8 and 605 DF,  p-value: < 2.2e-16

### 1.4 美化输出

In [11]:
library(stargazer)

stargazer(model1, type='text')

Please cite as:


 Hlavac, Marek (2022). stargazer: Well-Formatted Regression and Summary Statistics Tables.

 R package version 5.2.3. https://CRAN.R-project.org/package=stargazer

===============================================
                        Dependent variable:
                    ---------------------------
                               re78
-----------------------------------------------
age                           16.370
                             (32.522)

educ                        435.347***
                             (158.496)

racehispan                   1,054.204
                             (960.323)

racewhite                     421.773
                             (649.831)

married                       262.639
                             (693.338)

nodegree                      412.050
                             (845.992)

re74                         0.287***
                              (0.058)

re75                          0.237**
                              (0.105)

Constant                     -649.359
                            (2,447.898)

-----------------------------------------------
Observations                    614
R2                             0.142
Adjusted R2                    0.131
Residual Std. Error    6,964.704 (df = 605)
F Statistic           12.539*** (df = 8; 605)
===============================================
Note:               *p<0.1; **p<0.05; ***p<0.01

### 1.5 建立模型（rms包）

In [12]:
library(rms)
model2 <- ols(re78 ~ age + educ + race + married + nodegree + re74 + re75,
              data = lalonde)
model2

Loading required package: Hmisc


Attaching package: 'Hmisc'


The following objects are masked from 'package:base':

    format.pval, units

Linear Regression Model

ols(formula = re78 ~ age + educ + race + married + nodegree +
    re74 + re75, data = lalonde)

                   Model Likelihood    Discrimination
                         Ratio Test           Indexes
Obs        614    LR chi2     94.19    R2       0.142
sigma6964.7036    d.f.            8    R2 adj   0.131
d.f.       605    Pr(> chi2) 0.0000    g     3007.265

Residuals

   Min     1Q Median     3Q    Max
-13302  -4923  -1761   3963  54993


            Coef      S.E.      t     Pr(>|t|)
Intercept   -649.3594 2447.8979 -0.27 0.7909
age           16.3703   32.5222  0.50 0.6149
educ         435.3469  158.4960  2.75 0.0062
race=hispan 1054.2042  960.3229  1.10 0.2727
race=white   421.7733  649.8310  0.65 0.5166
married      262.6386  693.3378  0.38 0.7050
nodegree     412.0502  845.9921  0.49 0.6264
re74           0.2869    0.0582  4.93 <0.0001
re75           0.2373    0.1048  2.26 0.0239

In [15]:
library(stargazer)

stargazer(model2, type='text')

========================================
                 Dependent variable:
             ---------------------------
                        re78
----------------------------------------
age                    16.370
                      (32.522)

educ                 435.347***
                      (158.496)

race=hispan           1,054.204
                      (960.323)

race=white             421.773
                      (649.831)

married                262.639
                      (693.338)

nodegree               412.050
                      (845.992)

re74                  0.287***
                       (0.058)

re75                   0.237**
                       (0.105)

Constant              -649.359
                     (2,447.898)

----------------------------------------
Observations             614
R2                      0.142
Adjusted R2             0.131
chi2             94.195*** (df = 8)
========================================
Note:        *p<0.1; **p<0.05; ***p<0.01

## 2 Logit模型

### 2.1 数据准备

In [18]:
library(rms)
ddist <- datadist(lalonde)
options(datadist='ddist')

### 2.2 建立模型

In [19]:
model3 <- lrm(treat ~ age + educ + race +married + nodegree, data = lalonde)
model3

Logistic Regression Model

lrm(formula = treat ~ age + educ + race + married + nodegree,
    data = lalonde)

                       Model Likelihood      Discrimination    Rank Discrim.
                             Ratio Test             Indexes          Indexes
Obs           614    LR chi2     256.79      R2       0.484    C       0.867
 0            429    d.f.             6      R2(6,614)0.335    Dxy     0.735
 1            185    Pr(> chi2) <0.0001    R2(6,387.8)0.476    gamma   0.736
max |deriv| 1e-05                            Brier    0.129    tau-a   0.310

            Coef    S.E.   Wald Z Pr(>|Z|)
Intercept   -1.5522 0.9754  -1.59 0.1115
age          0.0103 0.0133   0.77 0.4386
educ         0.1516 0.0657   2.31 0.0210
race=hispan -2.1271 0.3636  -5.85 <0.0001
race=white  -3.1266 0.2851 -10.96 <0.0001
married     -0.9297 0.2713  -3.43 0.0006
nodegree     0.7872 0.3351   2.35 0.0188

In [25]:
stargazer(model3, type='text')

========================================
                 Dependent variable:
             ---------------------------
                        treat
----------------------------------------
age                     0.010
                       (0.013)

educ                   0.152**
                       (0.066)

race=hispan           -2.127***
                       (0.364)

race=white            -3.127***
                       (0.285)

married               -0.930***
                       (0.271)

nodegree               0.787**
                       (0.335)

Constant               -1.552
                       (0.975)

----------------------------------------
Observations             614
R2                      0.484
chi2             256.794*** (df = 6)
========================================
Note:        *p<0.1; **p<0.05; ***p<0.01

### 2.3 Odds Ratio

In [21]:
summary(model3)

                    Low High Diff. Effect     S.E.      Lower 0.95  Upper 0.95
age                 20  32   12     0.1235675 0.1595219 -0.18908963  0.4362246
 Odds Ratio         20  32   12     1.1315264        NA  0.82771231  1.5468562
educ                 9  12    3     0.4548374 0.1970485  0.06862938  0.8410455
 Odds Ratio          9  12    3     1.5759172        NA  1.07103919  2.3187899
married              0   1    1    -0.9296930 0.2712847 -1.46140130 -0.3979848
 Odds Ratio          0   1    1     0.3946748        NA  0.23191107  0.6716723
nodegree             0   1    1     0.7871918 0.3350740  0.13045890  1.4439247
 Odds Ratio          0   1    1     2.1972176        NA  1.13935111  4.2372935
race - black:white   3   1   NA     3.1265656 0.2851440  2.56769355  3.6854376
 Odds Ratio          3   1   NA    22.7955552        NA 13.03572353 39.8625620
race - hispan:white  3   2   NA     0.9994731 0.4219104  0.17254395  1.8264023
 Odds Ratio          3   2   NA     2.7168501        NA  1.18832405  6.2114995
                    Type
age                 1
 Odds Ratio         2
educ                1
 Odds Ratio         2
married             1
 Odds Ratio         2
nodegree            1
 Odds Ratio         2
race - black:white  1
 Odds Ratio         2
race - hispan:white 1
 Odds Ratio         2